#container {
  padding-left: .2rem;
  font-size: .2rem;
  p {
    line-height: .4rem;
    color: #f60;
  }
  #gradient {
    width: 200px;
    height: 100px;
    background: -o-linear-gradient(left, red,orange,yellow,green,blue,indigo,violet);
    background: -webkit-gradient(linear, left top, right top, from(red),color-stop(orange),color-stop(yellow),color-stop(green),color-stop(blue),color-stop(indigo),to(violet));
    background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
  }
}
