#container {
  padding-left: .2rem;
  font-size: .2rem;
  p {
    line-height: .4rem;
  }
  #gradient {
    width: 200px;
    height: 100px;
    background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
  }
}
